<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Billing system | <%- title %></title>

    <link rel="stylesheet" href="/css/index.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&family=Hind:wght@100;300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
  </head>

  <body>
  
    <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated){ %>

    <nav>
      <a href="/" class="nav-logo"><img src="/./assets/logo.png"></a>
      <ul class=" nav-menu " >
        <% if (typeof user !== 'undefined' && user.role.toLowerCase() === 'user') {%> 
         <li class="nav-item" ><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/bookings" class="nav-link">Bookings</a></li>
          <% } else { %> 
             <li class="nav-item"><a href="/slots" class="nav-link">Slot Available</a></li>
          <li class="nav-item"><a href="/failedbookings" class="nav-link">Failed Bookings </a></li>

                 <% } %> 
          <!-- <li class="nav-item"><a href="/logic " class="nav-link">Logic</a></li> -->
          <li class="nav-item"><a href="/users/logout " class="nav-link">Logout</a></li>

          <!-- <li class="nav-item"><a href="/feedback" class="nav-link">Feedback</a></li> -->
  
      </ul>
  
  </nav>

<% } %>

    <main><%- body %></main>

    <footer>
      <div> 
          <img class="logo" src="/assets/footer-logo.png" alt=""> 
          <span class="editContent">© 2015 Select<br>
          Designed by 
          <a href="/" target="_blank">Sui</a>
          </span> 
     </div>
  
     <div class="soc">
     <ul class="socials">
      <li><i class="fa fa-twitter " style=" font-size:26px; "></i></li>
      <li><i class="fa fa-facebook " style=" font-size:26px"></i>
      <!-- <li><i class="fa fa-dribbble " style=" font-size:26px"></i></li> -->
      <li><i class="fa fa-linkedin " style=" font-size:26px"></i></li>
      <!-- <li><i class="fa fa-pinterest " style=" font-size:26px"></i></li> -->
      <li><i class="fa fa-instagram " style=" font-size:26px"></i></li>
      <!-- <li><i class="fa fa-google-plus " style=" font-size:26px"></i></li>
      <li><i class="fa fa-flickr  " style=" font-size:26px"></i></li> -->
      <li><i class="fa fa-behance " style=" font-size:26px"></i></li>
      </ul>
  
  </div>
    
  </body>
</html>
