

<div class="book">
    

<form   action="" method="post" id="comment-form" style="width:500px;">
    <div class="boox">
        <div class="error">
<% if (message !== 'undefined') {%> 
       <span><%= message %></span> 
        <% } %> 
   </div>
    <div class="login-logo">
            <a href="/" class="nav-logo"><img src="/./assets/logo.png"></a>
        </div>
    <div class="welcome">
        <h1>Welcome back</h1>
         <h2>Sign in into your account</h2>
    </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
   
        
    <div  class="user">
         <div class="name" >
            <label for="username"> Phone Number</label>
            <input  type="text"  id="username" name="username" placeholder="Enter your phone number"  >
        </div>

        <div class="number">
            <label for="password" >Password:</label>
            <br>
            <input type="password" name="password" id="password"  placeholder="Enter your password" >
        </div>
     
        <div  >
            <button  type="submit" value="submit"  style="font-size: 1rem;" class="py-2 btn btn-block btn-outline-success">Login</button>
        </div>
</div>
</div> 
  </form> 

</div>



<style>
    .error {
        color: red;
        width: 150%;
        text-align: center;
    }

.book {
    /* opacity: 70%; */
    margin-top: -1.6%;
    background-image: url('/assets/make1.jpg');
    /* background-attachment: fixed;  */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    font-size: 25px;
    /* line-break: 15px; */
    color: black;
    
}
.user{
    margin-left: 20%;
    margin-right: 20%;
}
form{
    margin-left: 15%;
    /* margin-right: 15%; */
    padding: 25px 17px;
    /* text-align: center; */
    background-color: ash;

}
h1, h2 {
    color: black;
}
h1{
    font-weight: 700;
    font-size: 25px;
}
h2{
    margin-top: -27%;
    font-size: 15px;
}
.login-logo{
    margin-top: -3%;
    margin-left: 56%;
    width: 35%;
    height: 35%;
    align-items: center;

}
.boox .welcome {
    text-align: center;
    width: 100%;
    margin-left: 28%;
    margin-bottom: -10%;
    margin-top: -10%;
}
.boox {
    height: 180%;
    width: 100%;
    margin-top: 15%;
    margin-left: 50%;
    background-color: rgb(255, 255, 255) ;
    /* opacity: 50%; */
    align-items: center;
    /* display: flex; */
    justify-content: center;
    padding-right: 40%;
}
.name {
    margin-top: 5%;
}
.number {
    margin-top: 5%;
}

button{
    font-size: larger;
    margin-top: 5%;
    background-color: yellow;
    border-radius: 1em;
    padding: 35px 12px;
    box-shadow: 0 6px 10px 0 rgba(44, 43, 43, 0.2), 0 6px 13px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s ease-in-out;
    width: 50%;
    color: rgb(2, 2, 2);
}

button:hover {
   color: black;
   background-color: transparent;
}
p{
    background-color: green;
    color: white;
    width: 35%;
}
</style>