<div class="lunch">



<h1>Lunch available</h1>
<form action="" method="post">
  <input type="radio" id="milo" name="breakfast" value="milo">
  <label for="milo">milo</label><br>

  <input type="radio" id="porridge" name="breakfast" value="porridge">
  <label for="porridge">porridge</label><br>

  <input type="radio" id="kenkey" name="breakfast" value="kenkey">
  <label for="kenkey">kenkey</label>
  <br>

  <input type="radio" id="no-breakfast" name="breakfast" value="no-breakfast">
  <label for="no-breakfast">no-breakfast</label>

  <br>
  <p>Decision: <%= decision %></p>
  <button type="submit" value="submit"  > Decision Time</button>
</form> 

</div>

<style>
    .lunch {
        color: rgb(2, 0, 0);
    }
    h1{
        color: rgb(2, 0, 0);
    }
    
</style>