<h3>Waakye Queue</h3>

<form action="" method="post">
    <div>
        <label for="queue_length">
            <span>number of people in the queue</span>
            <input type="text" name="queue_length" id="queue_length">
        </label>
    </div>

  <div>
        <label for="number_of_women">
            <span>number of women in the queue</span>
            <input type="text" name="number_of_women" id="number_of_women">
        </label>
    </div>

    <div>
        <label for="number_of_men">
            <span>number of men in the queue</span>
            <input type="text" name="number_of_men" id="number_of_men">
        </label>
    </div>

    <button type="submit">Submit</button>

</form>

<style>
    
    form input {
        display: flex;
        border: 2px solid orange;
        gap: 1em;
    }
</style>