<div>
    <% if (typeof error != 'undefined') { %>
        <div class="error-msg"><%= error %></div>
<% } %>
<% if (typeof success != 'undefined') { %>
    <div class="success-msg"><%= success %></div>
<% } %>
    
</div>

<!-- <div class="img">
    <img src="/assets/girl.jpg">
</div> -->


<div class="book">
    <form form" id="comment-form" action="/bookings/add" method="post" id="comment-form" style="width:500px;">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>

        
    <h4> BOOK YOUR SERVICE
    <br>
    <span class="exper"> For a great experience <span> </h4> 
            
        <!-- <div > -->
            <!-- <div >
                <label for="name"> Client Name</label>
                <input  type="text"  id="client_name" name="client_name" placeholder="Enter your full name"  required>
            </div> -->

            <div class="number">
                <label for="phoneNumber" >Phone-Number</label>
                <br>
                <input type="phone_number"  name="phone_number" id="phone_number"  placeholder="Enter your phone number" style="color: rgb(2, 2, 2);" required>
            </div>

            <div class="date">

                <div >
                    <label for="date" >Date</label>
                    <br>
                    <input type="date"  name="slot_date" id="slot_date" style="padding-left: 180px;color: rgba(0, 0, 0, 0.336);text-align: left;" required>
                </div>

                <!-- <select>
                    <label for="date" >service</label>
                    <option> </option>

                </select> -->

          
            <div  >
                <button  type="submit" value="submit"  style="font-size: 1rem;" class="py-2 btn btn-block btn-outline-success">Submit</button>
            </div>
   
      </form> 
</div>



<style>
    /* body{
        color: black;
    } */

    .book {
        margin-top: 2%;
        background-image: url('/assets/girl.jpg');
        /* background-attachment: fixed;  */
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
        font-size: 25px;
        line-break: 15px;
        
    }
    form{
        margin-left: 5%;
        padding: 25px 17px;
        /* text-align: center; */
    }

    h4 {
        font-weight: 400;
        font-size: 170%;
        line-height: 30px;
        margin-left: -10%;
      
    }
     span {
        font-weight: 100;
        font-size: 50%;
        text-align: center;
        margin-top: 2%;
        margin-left: 16%;
        
      
    } 
    .date {
        margin-top: 5%;
    }
    .number {
        margin-top: 5%;
    }

    button{
        font-size: larger;
        margin-top: 5%;
        background-color: yellow;
        border-radius: 1em;
        padding: 35px 12px;
        box-shadow: 0 8px 12px 0 rgba(44, 43, 43, 0.2), 0 9px 23px 0 rgba(0, 0, 0, 0.19);
        transition: 0.2s ease-in-out;
        width: 25%;
        color: rgb(2, 2, 2);
    }

    button:hover {
       color: black;
       background-color: peachpuff;
    }
    /* form{
        margin-top: -35%;
    }
   */
</style>